.question {
  background-color: white;
  border-style: solid;
  border-color: #878787;
  border-width: .1rem;
}

.question-header {
  background-color: #f0e3d2;
  border-style: solid;
  border-color: #878787;
  border-width: .1rem;
}

.question-response {
  border-style: solid;
  border-color: #878787;
  border-width: .1rem;
}

.form-control {
    padding: 0.5rem 1rem;
    border-radius: 0rem;
    color: black;
    border-color: #878787;
}
