$logo-size: 8rem;

.auth-header{
  color: #E55050;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  margin: 1rem 0;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }

  &__logo {
    width: $logo-size;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='258' height='220' viewBox='0 0 2580 2200' preserveAspectRatio='xMidYMid meet'%3E%3Cg fill='%23e4504f'%3E%3Cpath d='M1208 1327c-19-13-89-77-157-143-68-65-129-123-137-127-16-9-215-237-257-294-45-60-97-173-105-228-12-77-6-195 14-255 20-60 79-139 141-186 122-93 353-109 493-34 30 16 64 34 76 41 17 9 29 6 70-19 123-76 256-91 403-46 131 40 209 104 258 211 77 169 38 379-106 560-60 76-483 499-524 524-46 28-124 26-169-4z'/%3E%3C/g%3E%3Cg fill='%23cca284'%3E%3Cpath d='M779 2174c-7-8-15-55-19-105-9-118-24-137-203-245-216-129-308-195-347-247-61-80-164-301-192-414-21-78 0-463 27-499 12-17 14-17 38-1 34 22 43 59 65 249l17 153 69 34c77 39 161 112 236 207 67 83 97 100 200 114 165 21 236 50 324 131 96 88 174 221 190 324 10 68-8 295-25 306-8 5-93 9-190 9-148 0-179-3-190-16z'/%3E%3Cpath d='M1422 2173c-5-10-12-79-16-153-5-110-4-145 10-190 40-138 166-295 281-352 36-18 71-33 77-34 6-1 36-6 66-12 30-6 80-14 111-17 70-8 99-28 184-131 81-98 142-148 222-185 68-31 69-32 77-134 9-111 27-228 41-261 15-37 51-62 67-46 16 16 37 220 38 353 0 135-6 157-100 359-104 225-115 240-249 329-64 42-164 105-224 140-158 93-187 135-187 268 0 51-3 64-19 73-12 6-93 10-195 10-157 0-176-2-184-17z'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    height: 0;
    padding: 0;
    padding-bottom: calc(#{$logo-size} / (258 / 220) ); 
  }
}